<template>
  <div>
    <v-row>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          label="prix HT"
          placeholder="number (1, 2, 3, 4, 5)"
          v-model.number="ht"
          solo
        ></v-text-field>
      </v-col>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          label="poids"
          placeholder="number (1, 2, 3, 4, 5)"
          v-model.number="poids"
          solo
        ></v-text-field>
      </v-col>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          label="tva"
          placeholder="number (1, 2, 3, 4, 5)"
          v-model.number="tva"
          solo
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          label="marge en %"
          placeholder="number (1, 2, 3, 4, 5)"
          v-model.number="m"
          solo
        ></v-text-field>
      </v-col>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          label="marge Amazon en %"
          placeholder="number (1, 2, 3, 4, 5)"
          v-model.number="mAma"
          solo
        ></v-text-field>
      </v-col>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          label="marge Cdiscount en %"
          placeholder="number (1, 2, 3, 4, 5)"
          v-model.number="mCdi"
          solo
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-btn
        color="success"
        style="margin: 3em"
        v-on:click="
          saveValue(
            ht,
            poids,
            tva,
            m,
            mAma,
            mCdi,
            benefice,
            finalPrix,
            commission,
            save,
            display
          )
        "
      >
        calcul
      </v-btn>
    </v-row>
    <v-row >
      <v-col cols="12" sm="6" md="3">
        <v-card>
          <v-card-title>
            <div>
              <span class="red--text">finalPrix</span><br />
              <span>{{ finalPrix }}</span>
            </div>
          </v-card-title>
        </v-card>
      </v-col>
      <v-col cols="12" sm="6" md="3">
        <v-card>
          <v-card-title>
            <div>
              <span class="red--text">Benefice</span><br />
              <span>{{ benefice }}</span>
            </div>
          </v-card-title>
        </v-card>
      </v-col>
      <v-col cols="12" sm="6" md="3">
        <v-card>
          <v-card-title>
            <div>
              <span class="red--text">commission</span><br />
              <span>{{ commission }}</span>
            </div>
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      display: "display: none",
      ht: "",
      poids: "",
      tva: 1.2,
      m: "",
      mAma: "",
      mCdi: "",
      save: "",
      benefice: [0, 0, 0],
      finalPrix: [0, 0, 0],
      commission: [0, 0],
    };
  },
  computed: {
    update(){
      return this.finalPrix;
    }
  },
  methods: {
    saveValue(
      prix,
      poids,
      tva,
      m,
      mAma,
      mCdi,
      benefice,
      finalPrix,
      commission,
      save
    ) {
      finalPrix[0] = Math.floor((prix + poids) * tva);

      benefice[0] = Math.floor((finalPrix[0] * m) / 100);

      save = (finalPrix[0] * mAma) / 100;

      finalPrix[1] = Math.floor(
        finalPrix[0] + save + ((finalPrix[0] + save) * 15) / 100
      );
      commission[0] = Math.floor(((finalPrix[0] + save) * 15) / 100);
      benefice[1] = save;

      save = (finalPrix[0] * mCdi) / 100;

      finalPrix[2] = Math.floor(
        finalPrix[0] + save + ((finalPrix[0] + save) * 20) / 100
      );
      commission[1] = Math.floor(((finalPrix[0] + save) * 20) / 100);
      benefice[2] = save;

      finalPrix[0] = finalPrix[0] + benefice[0];
      this.finalPrix = finalPrix;
      this.benefice = benefice;
      this.commission = commission;
      console.log(benefice, this.finalPrix, commission);
    },
  },
};
</script>



